ion-icon{
    font-size: 64px;
  }

  .toolbar-background {
    background-image: url('https://images.app.goo.gl/Vuz7CnT8ZeQAyHBz6')!important;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
